* {
    margin: 0;
    padding: 0;
}

#current-page {
    color: #1ea69a;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #2b3b3a;
    color: white;

    padding-bottom: 1em;
}

/* Fonts And Texts */

.company-name h2,
footer h2 {
    font-family: lora;
    font-size: 1.8rem;
}

.company-name p {
    font-size: 1rem;
    font-family:lato;
}

.navbar
{
    font-family:Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


p {
    line-height: 1.3;
}

.paragraph, .course-topic {
    font-family: lato;
    color: grey;
}

.paragraph {
    margin-bottom: 1em;
}

.courses-type a {
    font-family: lato;
    font-size: 0.9rem;
}


footer a {
    font-family: lato;
    font-size: 0.8rem;
    line-height: 1.5;
}

footer h3 {
    font-size: 1rem;
}

.copyright {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* Images */

.company-logo img {
    width: 85px;
}

.courses-type img {
 width: 100%;
}


/* TRANSISTIONS */

img {
    transition: transform 200ms linear;
}

.courses-type img {
    width: 100%;
}

img:hover {
    transform: rotate(2deg);

    cursor: pointer;
}


/* Anchor Tags */
a {
    text-decoration: none;
}
header a { 
    color: white; 
}

footer a {
    color: grey;
}
    

.courses-type a{
    color: white;
    background-color: #1ea69a;
    padding: 0.7em 0.5em;
}

/* Hovers And Focuses */

.navbar a:hover, .navbar a:focus{
    color: #1ea69a;
    }

footer a:hover, 
footer a:focus {
    color: white;
} 

/* LAYOUTS AND POSITIONING */

.container {
    width:90% ;
    margin: 0em auto;
}

.company-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 1.6rem;
}
.company-logo {
    display: flex;
    align-items: center;
    text-align: center;
}

.company-name {
    margin-left: 0.2em;
} 

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 2em;
}




@media (max-width:800px) {
.company-navbar {
    flex-direction: column;
}
}

@media (max-width:570px) {
    .navbar ul {
        text-align: center;
        flex-direction: column;
    }

    .navbar li {
        margin-top: 0.5em;
    }

    .company-navbar {
        padding-top: 0.2em;
    }
}

/*HORIZONTAL LINE */

hr {
    margin: 0.4em 0em 1em;
    width: 3%;

    border-style:solid;
    border-width: 2px;
    border-radius: 2px;
    border-color: #1ea69a;
}


/* Courses */

.courses {
    width: 90%;
    margin:3em auto;
}


.course {
    margin-top: 0.4em;
}

.courses-type {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
 grid-gap: 20px;
}

.courses h3, .courses p {
    margin-top:0.5em;
}


/* FOOTER */


.footer-container {
    padding: 1em 0em;
    background-color: #262626;
}

.footer-contents {
    display: flex;
    justify-content: space-between;
    
}

.quick-links, 
.social-links,
.community-links,
.projects-links {
    width: 25%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h2, footer h3, .copyright {
    color: white;
}

footer h3 {
    margin-bottom: 1em;
    padding-bottom: 0.2em;

    border-style: none none solid;
    border-color:#0c968a ;
    border-radius: 4px;
}
.copyright {
    text-align: center;
    width: 90%;
    margin: auto;
}

@media (min-width:414px) and (max-width:620px) {
    .footer-contents {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: auto;

    }

    .quick-links, 
    .social-links,
    .community-links,
    .projects-links {
        width: 50%;
        margin: 0em auto;
    }

    .community-links,
    .projects-links {
        padding:1em 0em ;
    }

}

@media (max-width:415px) {
    .footer-contents {
        display: flex;
        flex-direction: column;
    }

    .quick-links, 
    .social-links,
    .community-links,
    .projects-links {
        width: 100%;
    }

    .quick-links, 
    .social-links,
    .community-links {
        margin-bottom: 1em;
    }
}









